.navbar-white {
  border: 1px solid $border-color-nav;
  @include background(linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9)));
  @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.065));
  background-color: rgb(255,255,255);

  .navbar-nav > .active > a, .navbar-nav > .open > a {
    color: $font-color-inverse;
    background-color: $blue;

    &:hover, &:focus {
      color: $font-color-inverse;
      background-color: $blue;
    }

    .badge {
      background-color: $font-color-inverse;
      color: $blue;
    }
  }

  .navbar-nav > li > a {
    &:hover, &:focus {
      color: $font-color-inverse;
      background-color: $blue;

      .badge {
        background-color: $font-color-inverse;
        color: $blue;
      }
    }
  }
}


//my profile avatar container
.avatar-nav-container {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  background-color: lighten($grey,1%);

  //offsets BS's native navbar-right shift for proper alignment
  margin-right: 15px;

  > a {
    padding-top: ($navbar-height - $navbar-element-height)/2 !important;
    padding-bottom: ($navbar-height - $navbar-element-height)/2 !important;
    line-height: $navbar-element-height  !important;
    display: table !important;
  }

  .avatar-nav {
    float: left;
    height: $navbar-element-height;
    width: $navbar-element-height;
  }
  .name {
    padding-left: 10px;
    padding-right: 12px;
    float: right;
    position: relative;
    height: $navbar-element-height;

    .name-crop {
      max-width: 200px;
      float: left;
      @include text-crop();
    }
    .fa {
      position: absolute;
      margin-top: -7px;
      top: 50%;
      right: 0;
    }
  }
}

.pd-navbar {
  height: 52px;

  #alerts-container {
    margin-top: 5px;
  }

  .rv-alert-universal {
    padding-top: $spacing-default;
    padding-bottom: $spacing-default;
    margin: $spacing-default/2 auto $spacing-default;
  }
}