- var static = '/static'
- var vendor = static + '/vendor'
- var client = static + '/client'

script(src = vendor + "/cdn/angular.js")
script(src = vendor + "/js/angular-ui-router.js")

script(src = client + "/main.module.js")
script(src = client + "/config/config.js")
script(src = client + "/config/states.js")
script(src = client + "/users/controllers/createUserController.js")
