doctype html
html(ng-app='peerdev')
    head
        title= title
        link(rel='stylesheet', href='/static/css/cdn.css')
        link(rel='stylesheet', href='/static/css/vendor.css')
        link(rel='stylesheet', href='/static/css/main.css')
        script(type='text/javascript').
            (function () {
                if (window.location.hash === "#_=_") {
                    window.location.hash = "";
                }
            })()

    body(ng-controller='appController')
        .bodyWrapper
            .bodyContainer
                .container
                    include nav
                    div(ui-view)


        footer
            .container
                .footer-content
                    | Footer


        include scripts