doctype html
html(ng-app='peerdev')
    head
        title= title
        link(rel='stylesheet', href='/static/css/style.css')
    body
        h1 Hello World
        div(ui-view)
        include footer

