.navbar.navbar-fixed-top.navbar-white
    .container
        a.navbar-brand(href="/") Peer.dev()
        ul.nav.navbar-nav.navbar-right
            if session.profile
                li.dropdown.avatar-nav-container
                    a.dropdown-toggle
                        img.avatar-nav(gravatar-src= "current_user.get('email')")
                        div.name
                            span.name-crop(ng-bind= "current_user.get('name')")
                            i.fa.fa-caret-down
                    ul.dropdown-menu.dropdown-menu-right
                        li
                            a(ui-sref='profile') My Account
                        li.divider
                        li
                            a(ng-click="logout()") Log Out
            else
                li
                    button.btn.btn-primary.navbar-btn(type='button', ng-click='loginModal()') Sign Up or Log In