- var static = '/static'
- var vendor = static + '/vendor'
- var client = static + '/client'

//vendir
script(src = vendor + "/cdn/jquery-1.10.2.js")
script(src = vendor + "/cdn/angular.js")
script(src = vendor + "/cdn/angular-sanitize.js")
script(src = vendor + "/angular-gravatar.js")
script(src = vendor + "/angular-ui-router.js")
script(src = vendor + "/elastic.js")
script(src = vendor + "/md5.js")
script(src = vendor + "/ui-bootstrap-tpls-0.10.0.js")
script(src = vendor + "/ng-infinite-scroll.js")

//Module, config & states
script(src = client + "/main.module.js")

include scripts-library

script(src = client + "/config/config.js")
script(src = client + "/config/states.js")

//Application
script(src = client + "/application/appController.js")
script(src = client + "/application/BaseModel.js")
script(src = client + "/application/ModelRelations.js")
script(src = client + "/application/APIQuery.js")

//General
script(src = client + "/general/services/Initialize.js")
script(src = client + "/general/services/RouteCheck.js")
script(src = client + "/general/services/GeneralCategories.js")
script(src = client + "/general/services/Lookup.js")
script(src = client + "/general/services/GoogleMaps.js")
script(src = client + "/general/services/Utilities.js")
script(src = client + "/general/directives/pdTags.js")
script(src = client + "/general/directives/general.js")

//Home
script(src = client + "/home/controllers/indexController.js")

//Modals
script(src = client + "/modals/controllers/removeProjectController.js")
script(src = client + "/modals/services/GeneralModals.js")
script(src = client + "/modals/services/ConfirmModals.js")

//Projects
script(src = client + "/projects/controllers/createProjectController.js")
script(src = client + "/projects/controllers/editProjectController.js")
script(src = client + "/projects/models/Project.js")

//User
script(src = client + "/users/account/controllers/createAccountController.js")
script(src = client + "/users/account/controllers/editProfileController.js")
script(src = client + "/users/account/controllers/myProjectsController.js")
script(src = client + "/users/models/User.js")

//google maps
script.
    (function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
          'callback=angular.noop';
      document.body.appendChild(script);
    })()



