- var library = '/static/library'

script(src = library + "/RVInlineValidate/RVInlineValidate.module.js")
script(src = library + "/RVStatus/RVStatus.module.js")
script(src = library + "/RVStatus/directives/rvStatus.js")
script(src = library + "/RVStatus/services/StatusService.js")
script(src = library + "/RVAlerts/RVAlerts.module.js")
script(src = library + "/RVAlerts/bootstrap-alerts.js")
