- var static = '/static'
- var vendor = static + '/vendor'
- var client = static + '/client'

script(src = vendor + "/cdn/jquery-1.10.2.js")
script(src = vendor + "/cdn/angular.js")
script(src = vendor + "/cdn/angular-sanitize.js")
script(src = vendor + "/angular-ui-router.js")
script(src = vendor + "/ui-bootstrap-tpls-0.10.0.js")

//Module, config & states
script(src = client + "/main.module.js")
script(src = client + "/config/config.js")
script(src = client + "/config/states.js")

//Application
script(src = client + "/application/appController.js")

//General
script(src = client + "/general/services/Initialize.js")
script(src = client + "/general/services/RouteCheck.js")

//Modals
script(src = client + "/modals/services/GeneralModals.js")

script(src = client + "/users/controllers/createAccountController.js")
