/* line 1, ../../sass/partials/structure/_window.scss */
html, body {
  height: 100%;
}

/* line 5, ../../sass/partials/structure/_window.scss */
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* line 12, ../../sass/partials/structure/_window.scss */
.bodyWrapper {
  min-height: 100%;
  margin-bottom: -65px;
}

/* line 17, ../../sass/partials/structure/_window.scss */
.bodyContainer {
  padding-bottom: 65px;
  height: 100%;
  padding-top: 65px;
}

/* line 23, ../../sass/partials/structure/_window.scss */
:focus {
  outline: none;
}

/* line 1, ../../sass/partials/structure/_layout.scss */
.container-fixed-sm {
  width: 500px;
  margin: 0 auto;
}

/* line 1, ../../sass/partials/navigation/_navbar.scss */
.navbar-white {
  border: 1px solid #c8c8c8;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background: -webkit-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: -moz-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: -o-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  background-color: white;
}
/* line 7, ../../sass/partials/navigation/_navbar.scss */
.navbar-white .navbar-nav > .active > a, .navbar-white .navbar-nav > .open > a {
  color: white;
  background-color: #428bca;
}
/* line 11, ../../sass/partials/navigation/_navbar.scss */
.navbar-white .navbar-nav > .active > a:hover, .navbar-white .navbar-nav > .active > a:focus, .navbar-white .navbar-nav > .open > a:hover, .navbar-white .navbar-nav > .open > a:focus {
  color: white;
  background-color: #428bca;
}
/* line 16, ../../sass/partials/navigation/_navbar.scss */
.navbar-white .navbar-nav > .active > a .badge, .navbar-white .navbar-nav > .open > a .badge {
  background-color: white;
  color: #428bca;
}
/* line 23, ../../sass/partials/navigation/_navbar.scss */
.navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
  color: white;
  background-color: #428bca;
}
/* line 27, ../../sass/partials/navigation/_navbar.scss */
.navbar-white .navbar-nav > li > a:hover .badge, .navbar-white .navbar-nav > li > a:focus .badge {
  background-color: white;
  color: #428bca;
}

/* line 37, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  background-color: #f0f0f0;
  margin-right: 15px;
}
/* line 45, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container > a {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  line-height: 32px !important;
  display: table !important;
}
/* line 52, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container .avatar-nav {
  float: left;
  height: 32px;
  width: 32px;
}
/* line 57, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container .name {
  padding-left: 10px;
  padding-right: 12px;
  float: right;
  position: relative;
}
/* line 63, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container .name .name-crop {
  max-width: 200px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 68, ../../sass/partials/navigation/_navbar.scss */
.avatar-nav-container .name .fa {
  position: absolute;
  margin-top: -7px;
  top: 50%;
  right: 0;
}

/* line 1, ../../sass/partials/navigation/_footer.scss */
footer {
  height: 49px;
  margin-top: 15px;
  background-color: #ebebeb;
  border-top: 1px solid #c8c8c8;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  color: #999999;
  vertical-align: middle;
  padding: 15px 0;
}
/* line 3, ../../sass/modules/_general_mixins.scss */
footer a {
  color: #999999;
}
/* line 5, ../../sass/modules/_general_mixins.scss */
footer a:hover, footer a:focus {
  color: #737373;
}
/* line 18, ../../sass/partials/navigation/_footer.scss */
footer a {
  text-transform: capitalize;
}
/* line 22, ../../sass/partials/navigation/_footer.scss */
footer .footer-content {
  display: table-cell;
  vertical-align: middle;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad {
  padding: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar {
  margin: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-left {
  padding-left: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-left {
  margin-left: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-right {
  padding-right: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-right {
  margin-right: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-top {
  padding-top: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-top {
  margin-top: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-bottom {
  padding-bottom: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-bottom {
  margin-bottom: 0 !important;
}

/* line 5, ../../sass/partials/general/_utilities.scss */
.position-container {
  position: relative;
}

/* line 9, ../../sass/partials/general/_utilities.scss */
.pull-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 14, ../../sass/partials/general/_utilities.scss */
.pull-top-right.pull-tight {
  top: 0;
  right: 0;
}

/* line 20, ../../sass/partials/general/_utilities.scss */
.pull-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 25, ../../sass/partials/general/_utilities.scss */
.pull-bottom-right.pull-tight {
  bottm: 0;
  right: 0;
}

/* line 31, ../../sass/partials/general/_utilities.scss */
.pull-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 36, ../../sass/partials/general/_utilities.scss */
.pull-top-left.pull-tight {
  top: 0;
  left: 0;
}

/* line 42, ../../sass/partials/general/_utilities.scss */
.pull-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 47, ../../sass/partials/general/_utilities.scss */
.pull-bottom-left.pull-tight {
  bottom: 0;
  left: 0;
}

/* line 55, ../../sass/partials/general/_utilities.scss */
.hover-mask:hover {
  opacity: .95;
}

/* line 60, ../../sass/partials/general/_utilities.scss */
.hover-mask-group:hover .hover-mask-element {
  opacity: .95;
}

/* line 66, ../../sass/partials/general/_utilities.scss */
.hover-visible-block {
  visibility: hidden;
}

/* line 71, ../../sass/partials/general/_utilities.scss */
.hover-visible-group:hover .hover-visible-block, .show-hover .hover-visible-block {
  visibility: visible;
}

/* line 76, ../../sass/partials/general/_utilities.scss */
.hover-display-block {
  display: none;
}

/* line 82, ../../sass/partials/general/_utilities.scss */
.hover-display-group:hover .hover-display-block, .show-hover .hover-display-block {
  display: block;
}

/* line 87, ../../sass/partials/general/_utilities.scss */
.text-crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 91, ../../sass/partials/general/_utilities.scss */
.help-link {
  cursor: help;
}
/* line 93, ../../sass/partials/general/_utilities.scss */
.help-link:hover {
  text-decoration: underline;
}

/* line 98, ../../sass/partials/general/_utilities.scss */
.on-top {
  z-index: 10000;
}

/* line 103, ../../sass/partials/general/_utilities.scss */
.corner-item.pull-right {
  margin-left: 10px;
}
/* line 106, ../../sass/partials/general/_utilities.scss */
.corner-item.pull-left {
  margin-right: 10px;
}

/* line 111, ../../sass/partials/general/_utilities.scss */
.rv-overflow-auto {
  overflow: auto;
}

/* line 1, ../../sass/partials/general/_typography.scss */
a {
  cursor: pointer;
}
/* line 4, ../../sass/partials/general/_typography.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 9, ../../sass/partials/general/_typography.scss */
.alert-link:hover {
  text-decoration: underline;
}

/* line 13, ../../sass/partials/general/_typography.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 1, ../../sass/partials/general/_callout.scss */
.callout-box {
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #dddddd;
}
/* line 6, ../../sass/partials/general/_callout.scss */
.callout-box h4 {
  margin-top: 0;
}
/* line 10, ../../sass/partials/general/_callout.scss */
.callout-box p:last-child {
  margin-bottom: 0;
}

/* line 34, ../../sass/modules/_general_mixins.scss */
.callout-box-default {
  background-color: #e9e9e9;
  border-color: gainsboro;
}

/* line 34, ../../sass/modules/_general_mixins.scss */
.callout-box-primary {
  background-color: #c3daee;
  border-color: #b0cee9;
}

/* line 34, ../../sass/modules/_general_mixins.scss */
.callout-box-danger {
  background-color: #f6d8d7;
  border-color: #f2c4c2;
}

/* line 34, ../../sass/modules/_general_mixins.scss */
.callout-box-warning {
  background-color: #fdf4e7;
  border-color: #fbe9cf;
}

/* line 34, ../../sass/modules/_general_mixins.scss */
.callout-box-success {
  background-color: #eaf6ea;
  border-color: #d8eed8;
}

/* line 54, ../../sass/modules/_general_mixins.scss */
.btn-linkedin {
  color: white;
  background-color: #4875b4;
  border-color: #4169a2;
}
/* line 65, ../../sass/modules/_general_mixins.scss */
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active {
  color: white;
  background-color: #3c6297;
  border-color: #2f4d76;
}
/* line 71, ../../sass/modules/_general_mixins.scss */
.open .btn-linkedin.dropdown-toggle {
  color: white;
  background-color: #3c6297;
  border-color: #2f4d76;
}
/* line 78, ../../sass/modules/_general_mixins.scss */
.btn-linkedin:active, .btn-linkedin.active {
  background-image: none;
}
/* line 82, ../../sass/modules/_general_mixins.scss */
.open .btn-linkedin.dropdown-toggle {
  background-image: none;
}
/* line 93, ../../sass/modules/_general_mixins.scss */
.btn-linkedin.disabled, .btn-linkedin.disabled:hover, .btn-linkedin.disabled:focus, .btn-linkedin.disabled:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled], .btn-linkedin[disabled]:hover, .btn-linkedin[disabled]:focus, .btn-linkedin[disabled]:active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin, fieldset[disabled] .btn-linkedin:hover, fieldset[disabled] .btn-linkedin:focus, fieldset[disabled] .btn-linkedin:active, fieldset[disabled] .btn-linkedin.active {
  background-color: #4875b4;
  border-color: #4169a2;
}
/* line 99, ../../sass/modules/_general_mixins.scss */
.btn-linkedin .badge {
  color: #4875b4;
  background-color: white;
}

/* line 54, ../../sass/modules/_general_mixins.scss */
.btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: #344e86;
}
/* line 65, ../../sass/modules/_general_mixins.scss */
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  color: white;
  background-color: #30487b;
  border-color: #23345a;
}
/* line 71, ../../sass/modules/_general_mixins.scss */
.open .btn-facebook.dropdown-toggle {
  color: white;
  background-color: #30487b;
  border-color: #23345a;
}
/* line 78, ../../sass/modules/_general_mixins.scss */
.btn-facebook:active, .btn-facebook.active {
  background-image: none;
}
/* line 82, ../../sass/modules/_general_mixins.scss */
.open .btn-facebook.dropdown-toggle {
  background-image: none;
}
/* line 93, ../../sass/modules/_general_mixins.scss */
.btn-facebook.disabled, .btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled:active, .btn-facebook.disabled.active, .btn-facebook[disabled], .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled]:active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook, fieldset[disabled] .btn-facebook:hover, fieldset[disabled] .btn-facebook:focus, fieldset[disabled] .btn-facebook:active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #344e86;
}
/* line 99, ../../sass/modules/_general_mixins.scss */
.btn-facebook .badge {
  color: #3b5998;
  background-color: white;
}

/* line 54, ../../sass/modules/_general_mixins.scss */
.btn-google {
  color: white;
  background-color: #c63d2d;
  border-color: #b13728;
}
/* line 65, ../../sass/modules/_general_mixins.scss */
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active {
  color: white;
  background-color: #a53325;
  border-color: #7f271d;
}
/* line 71, ../../sass/modules/_general_mixins.scss */
.open .btn-google.dropdown-toggle {
  color: white;
  background-color: #a53325;
  border-color: #7f271d;
}
/* line 78, ../../sass/modules/_general_mixins.scss */
.btn-google:active, .btn-google.active {
  background-image: none;
}
/* line 82, ../../sass/modules/_general_mixins.scss */
.open .btn-google.dropdown-toggle {
  background-image: none;
}
/* line 93, ../../sass/modules/_general_mixins.scss */
.btn-google.disabled, .btn-google.disabled:hover, .btn-google.disabled:focus, .btn-google.disabled:active, .btn-google.disabled.active, .btn-google[disabled], .btn-google[disabled]:hover, .btn-google[disabled]:focus, .btn-google[disabled]:active, .btn-google[disabled].active, fieldset[disabled] .btn-google, fieldset[disabled] .btn-google:hover, fieldset[disabled] .btn-google:focus, fieldset[disabled] .btn-google:active, fieldset[disabled] .btn-google.active {
  background-color: #c63d2d;
  border-color: #b13728;
}
/* line 99, ../../sass/modules/_general_mixins.scss */
.btn-google .badge {
  color: #c63d2d;
  background-color: white;
}

/* line 54, ../../sass/modules/_general_mixins.scss */
.btn-twitter {
  color: white;
  background-color: #00aced;
  border-color: #0099d3;
}
/* line 65, ../../sass/modules/_general_mixins.scss */
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  color: white;
  background-color: #008ec4;
  border-color: #006d96;
}
/* line 71, ../../sass/modules/_general_mixins.scss */
.open .btn-twitter.dropdown-toggle {
  color: white;
  background-color: #008ec4;
  border-color: #006d96;
}
/* line 78, ../../sass/modules/_general_mixins.scss */
.btn-twitter:active, .btn-twitter.active {
  background-image: none;
}
/* line 82, ../../sass/modules/_general_mixins.scss */
.open .btn-twitter.dropdown-toggle {
  background-image: none;
}
/* line 93, ../../sass/modules/_general_mixins.scss */
.btn-twitter.disabled, .btn-twitter.disabled:hover, .btn-twitter.disabled:focus, .btn-twitter.disabled:active, .btn-twitter.disabled.active, .btn-twitter[disabled], .btn-twitter[disabled]:hover, .btn-twitter[disabled]:focus, .btn-twitter[disabled]:active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter, fieldset[disabled] .btn-twitter:hover, fieldset[disabled] .btn-twitter:focus, fieldset[disabled] .btn-twitter:active, fieldset[disabled] .btn-twitter.active {
  background-color: #00aced;
  border-color: #0099d3;
}
/* line 99, ../../sass/modules/_general_mixins.scss */
.btn-twitter .badge {
  color: #00aced;
  background-color: white;
}
