/* line 1, ../../sass/partials/structure/_window.scss */
html, body {
  height: 100%;
}

/* line 5, ../../sass/partials/structure/_window.scss */
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* line 12, ../../sass/partials/structure/_window.scss */
.bodyWrapper {
  min-height: 100%;
  margin-bottom: -65px;
}

/* line 17, ../../sass/partials/structure/_window.scss */
.bodyContainer {
  padding-bottom: 65px;
  height: 100%;
  padding-top: 65px;
}

/* line 23, ../../sass/partials/structure/_window.scss */
:focus {
  outline: none;
}

/* line 1, ../../sass/partials/navigation/_navbar.scss */
.navbar-white {
  margin-bottom: 0;
  background-color: white;
  border-bottom: 0;
}

/* line 1, ../../sass/partials/navigation/_footer.scss */
footer {
  height: 49px;
  margin-top: 15px;
  background-color: #ebebeb;
  border-top: 1px solid #c8c8c8;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  color: #999999;
  vertical-align: middle;
  padding: 15px 0;
}
/* line 3, ../../sass/modules/_general_mixins.scss */
footer a {
  color: #999999;
}
/* line 5, ../../sass/modules/_general_mixins.scss */
footer a:hover, footer a:focus {
  color: #737373;
}
/* line 18, ../../sass/partials/navigation/_footer.scss */
footer a {
  text-transform: capitalize;
}
/* line 22, ../../sass/partials/navigation/_footer.scss */
footer .footer-content {
  display: table-cell;
  vertical-align: middle;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad {
  padding: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar {
  margin: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-left {
  padding-left: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-left {
  margin-left: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-right {
  padding-right: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-right {
  margin-right: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-top {
  padding-top: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-top {
  margin-top: 0 !important;
}

/* line 44, ../../sass/modules/_general_mixins.scss */
.clear-pad-bottom {
  padding-bottom: 0 !important;
}

/* line 48, ../../sass/modules/_general_mixins.scss */
.clear-mar-bottom {
  margin-bottom: 0 !important;
}

/* line 5, ../../sass/partials/general/_utilities.scss */
.position-container {
  position: relative;
}

/* line 9, ../../sass/partials/general/_utilities.scss */
.pull-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 14, ../../sass/partials/general/_utilities.scss */
.pull-top-right.pull-tight {
  top: 0;
  right: 0;
}

/* line 20, ../../sass/partials/general/_utilities.scss */
.pull-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 25, ../../sass/partials/general/_utilities.scss */
.pull-bottom-right.pull-tight {
  bottm: 0;
  right: 0;
}

/* line 31, ../../sass/partials/general/_utilities.scss */
.pull-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 36, ../../sass/partials/general/_utilities.scss */
.pull-top-left.pull-tight {
  top: 0;
  left: 0;
}

/* line 42, ../../sass/partials/general/_utilities.scss */
.pull-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 47, ../../sass/partials/general/_utilities.scss */
.pull-bottom-left.pull-tight {
  bottom: 0;
  left: 0;
}

/* line 55, ../../sass/partials/general/_utilities.scss */
.hover-mask:hover {
  opacity: .95;
}

/* line 60, ../../sass/partials/general/_utilities.scss */
.hover-mask-group:hover .hover-mask-element {
  opacity: .95;
}

/* line 66, ../../sass/partials/general/_utilities.scss */
.hover-visible-block {
  visibility: hidden;
}

/* line 71, ../../sass/partials/general/_utilities.scss */
.hover-visible-group:hover .hover-visible-block, .show-hover .hover-visible-block {
  visibility: visible;
}

/* line 76, ../../sass/partials/general/_utilities.scss */
.hover-display-block {
  display: none;
}

/* line 82, ../../sass/partials/general/_utilities.scss */
.hover-display-group:hover .hover-display-block, .show-hover .hover-display-block {
  display: block;
}

/* line 87, ../../sass/partials/general/_utilities.scss */
.text-crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 91, ../../sass/partials/general/_utilities.scss */
.help-link {
  cursor: help;
}
/* line 93, ../../sass/partials/general/_utilities.scss */
.help-link:hover {
  text-decoration: underline;
}

/* line 98, ../../sass/partials/general/_utilities.scss */
.on-top {
  z-index: 10000;
}

/* line 103, ../../sass/partials/general/_utilities.scss */
.corner-item.pull-right {
  margin-left: 10px;
}
/* line 106, ../../sass/partials/general/_utilities.scss */
.corner-item.pull-left {
  margin-right: 10px;
}

/* line 1, ../../sass/partials/general/_typography.scss */
a {
  cursor: pointer;
}
/* line 4, ../../sass/partials/general/_typography.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 9, ../../sass/partials/general/_typography.scss */
.alert-link:hover {
  text-decoration: underline;
}

/* line 13, ../../sass/partials/general/_typography.scss */
.capitalize {
  text-transform: capitalize;
}
