<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h3 class="modal-title">Sign Up or Log In</h3>
    </div>

    <div class="modal-body">
        <div class="row">

            <!--<h4>Select the type of account you want to sign up or log in with.</h4>-->
            <div class="col-md-offset-3 col-md-6">
                <button type="button" ng-click="$close('facebook')" class="btn btn-lg btn-facebook btn-block">
                    <i class="fa fa-facebook"></i> | Facebook
                </button>
            </div>
            <!--<div class="col-lg-6">-->
            <!--<button class="btn btn-lg btn-google btn-block" ng-click="$close('google')"><i-->
            <!--class="fa fa-google-plus"></i> |-->
            <!--Google/Gmail-->
            <!--</button>-->
            <!--</div>-->
        </div>
        <!--<div class="row row-vert-mar-md">-->
        <!--<div class="col-lg-6">-->
        <!--<a class="btn btn-lg btn-linkedin btn-block"><i class="fa fa-linkedin"></i> | LinkedIn-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-lg-6">-->
        <!--<a class="btn btn-lg btn-twitter btn-block"><i class="fa fa-twitter"></i> |-->
        <!--Twitter-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

