$blue: #428bca;
$red: #d9534f;
$green :#5cb85c;
$orange: #f0ad4e;
$yellow: #e6e65c;
$grey: #ededed;

//border colors
$border-color: rgb(221,221,221); //bs default
$border-color-nav: rgb(200, 200, 200);
$border-color-dark: rgb(150,150,150);

//background colors
$bg-color-primary: rgb(255,255,255);
$bg-color-body: rgb(250,250,250);
$bg-color-secondary: rgb(235,235,235);
