<form name="create_account" class="container-fixed-sm">
    <h2 class="text-center">Create Your Account</h2>
    <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="newUser.data.username" placeholder="Username"
               ng-maxlength="30" ng-minlength="5" required rv-inline-validate submit-callback="usernameError"
               username-validate>
    </div>
    <div class="form-group">
        <input type="email" class="form-control input-lg" ng-model="newUser.data.email" placeholder="Email"
                ng-maxlength="255" required rv-inline-validate submit-callback="emailError" rv-email>
    </div>

    <hr class="divider-dark">

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="createUser()" rv-status-btn="create_status">Create Account</button>
</form>