<div ng-controller="editProfileTagsController">
    <div class="form-group">
        <label class="control-label">Skill Tags
            <small>(Remaining: {{ maxTags - profile.data.tags.length }})</small>
        </label>

        <div class="input-group">
            <input type="text" name="tag" class="form-control" ng-model="newTag"
                   ng-keypress="tagEnter($event)" maxlength="20" ng-disabled="profile.data.tags.length === maxTags">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="addTag()"
                            ng-disabled="profile.data.tags.length === maxTags">Add
                    </button>
                </span>
        </div>
        <p class="rv-help-block text-danger" ng-show="profile.data.tags.length === maxTags">You've reached the maximum
            number of tags!</p>
    </div>

    <div ng-hide="!profile.data.tags.length" class="container-pills">
        <div class="pill pill-white" ng-repeat="tag in profile.data.tags">
            <span class="pill-text">{{ tag }}</span>
            <a href="" ng-click="removeTag($index)"><i class="fa fa-minus-circle"></i></a>
        </div>
    </div>
</div>
