<div class="container-fixed-sm">
    <h2 class="text-center page-header">My Projects</h2>

    <ul class="media-list" infinite-scroll="lazy.query()" infinite-scroll-disabled="lazy.stopLoading">
        <li class="media" ng-repeat="project in lazy.data" ng-class="{{ project.data.active ? 'active' : 'inactive' }}">
            <div class="pull-right">
                <ul class="list-unstyled">
                    <li><a ng-href="/edit-project/{{project.getId()}}"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                    <li><a ng-click="deleteProject(project, $index)"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                </ul>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ project.get('title') }}</h4>

                <p>Created on: {{ project.getMeta('created_at') | date:'mediumDate' }}</p>
               
            </div>
        </li>
    </ul>

    <div class="text-center text-info" ng-show="lazy.status.isWorking">
        <h3><i class="fa fa-spinner fa-spin"></i> Loading...</h3>
    </div>
</div>