<div class="container-fixed-md">
    <h2 class="text-center">My Projects</h2>

    <div class="panel panel-default" ng-repeat="project in projects">
        <div class="panel-body">
            <a ng-href="/edit-project/{{ project.getId() }}" class="btn btn-default pull-right"><i class="fa fa-pencil"></i></a>
            <h3>{{ project.get('title') }}</h3>

            <p>{{ project.get('description') }}</p>
            <a ng-href="{{ project.get('website') }}" target="_blank">{{ project.get('website') }}</a>
        </div>
    </div>
</div>